<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Yoga Sequence</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>Yoga Class Sequence</h1>
    <nav>
        <ul>
            <li>
                <a href="#child's">Child's Pose</a>
            </li>
            <li>
                <a href="#warm-up">Warm-Up</a>
            </li>
            <li>
                <a href="#standing">Standing Series</a>
            </li>
            <li>
                <a href="#first">First Savasana</a>
            </li>
            <li>
                <a href="#vinyasa">Vinyasa Flow</a>
            </li>
            <li>
                <a href="#second">Tree/Savasana</a>
            </li>
            <li>
                <a href="#core">Core</a>
            </li>
            <li>
                <a href="#spine">Spine</a>
            </li>
            <li>
                <a href="#stretching">Stretching</a>
            </li>
            <li>
                <a href="#final">Final Savasana</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <article>
        <section>
            <a id="child's"></a>
            <h2>Child's Pose</h2>7
            <h4>Recenter the Mind & Body</h4>
            <figure>
                <img src="images/Childs_pose_Balasana-2.jpg" alt="Person In Child's Pose" width="400" height="290">
            </figure>
            <p> The goal of this pose is to invite presence, breath, and awareness into the yoga practice. It is a grouding position, as the practioner is asked to focus on the breath and body, and to surrender any thoughts outside of the four corners of their mat. A calm setting, dim light, ambient music, and freedom from distraction are crucial elements of this pose. This is the perfect time to set an intention or dedication for practice.</p>
        </section>
        <section>
            <a id="warm-up"></a>
            <h2>Warm-Up</h2>
            <h4>Get ready for Class</h4>
            <figure>
                <img src="images/How-To-Do-Sun-Salutation-Series-For-Yoga.jpg" alt="Sun Salutations" width="400" height="400">
            </figure>
            <p> The warm-up starts slowly, with movements such as table top, sun salutations, or downward-facing dog. The goal is to warm-up the muscles and invite energy into the body for the rest of class. We finish the warm-up with a few faster warrior sequences to instruct specific alignment and introduce unique cues used during class.</p>
        </section>
        <section>
            <a id="standing"></a>
            <h2>Standing Series</h2>
            <h4>Time to Focus</h4>
            <figure>
                <img src="images/download.jpg" alt="Standing Forehead to Knee" width="400" height="370">
            </figure>
            <p> The standing series is an ordered sequence of standing postures, such as Half Moon Pose, Chair Pose, Eagle Pose, and Standing Bow Pose. These postures are worked through consecutively, often in sets of two, with equal attention given to left and right sides of the body. Standing postures improve strength, flexibility, and balance, and work in a step-by-step fashion with optional modifications.
            </p>
        </section>
        <section>
            <a id="first"></a>
            <h2>First Savasana</h2>
            <h4>Surrender & Breathe</h4>
            <figure>
                <img src="images/OIP.jpg" alt="Savasana" width="400" height="250">
            </figure>
            <p> Savasana is often referred to as one of the most challenging parts of class. How ironic! It asks the practitioner to be completely still, lay in a supine position, and focus on belly breathing. This can be difficult with so many distractions, but it is the perfect opportunity to practice patience and stillness.</p>
        </section>
        <section>
            <a id="vinyasa"></a>
            <h2>Vinyasa Flow</h2>
            <h4>The Moving Meditation</h4>
            <figure>
                <img src="images/OIP (1).jpg" alt="Warrior Pose" width="400" height="250">
            </figure>
            <p>The vinyasa flow portion is very high energy and separated into a few different flow sequences. These combine upbeat warrior variations with various balance challenges as the practitioner "flows" through a moving meditation. The inhales and exhales occur during specific parts of the yoga sequence; thus, helping the practitioner to remain present.</p>
        </section>
        <section>
            <a id="second"></a>
            <h2>Tree & Second Savasana</h2>
            <h4>Acknowledge & Slow Down</h4>
            <figure>
                <img src="images/OIP (2).jpg" alt="Tree Pose" width="400" height="400">
            </figure>
            <p>The flow sequence is concluded by tree pose (the final standing pose), and another savasana. Once in savasana, one can turn the palms face up as a recieving gesture, or turn the palms down to ground and turn inward. </p>
        </section>
        <section>
            <a id="core"></a>
            <h2>Core</h2>
            <h4>A Strong Core Supports the Body</h4>
            <figure>
                <img src="images/download (1).jpg" alt="Core Workout" width="400" height="170">
            </figure>
            <p>A quick core section includes planks, bicycle crunches, or leg lifts. The core is activated throughout the entire class, so this is very brief. There is always the option to rest!</p>
        </section>
        <section>
            <a id="spine"></a>
            <h2>Spine Strengthening</h2>
            <h4>Back Muscles Support the Spine</h4>
            <figure>
                <img src="images/Cobra-Pose.jpg" alt="Cobra Pose" width="400" height="200">
            </figure>
            <p>"A healthy spine is a healthy life!" Spine-strengthening involves lying on the stomach and isolating the lower, middle, and upper back during various exercises. Flexibility can be incorporated at the very end during bow pose."</p>
        </section>
        <section>
            <a id="stretching"></a>
            <h2>Stretching</h2>
            <h4>Cool It Down</h4>
            <figure>
                <img src="images/Butterfly-pose-1024x683.webp" alt="Butterfly Pose" width="400" height="250">
            </figure>
            <p>Stretching is important to help the muscles recover after challenging movements. The body is very warm at the end of class, so it is the perfect time to stretch. Flexibility and strength truly compliment eachother when focusing on muscle health.</p>
        </section>
        <section>
            <a id="final"></a>
            <h2>Final Savasana</h2>
            <h4>You Made It!</h4>
            <figure>
                <img src="images/Depositphotos_184935124_l-2015-1024x682.webp" alt="Final Savasana with Lavender Towel" width="400" height="290">
            </figure>
            <p>The goal of final savasana is to competely let go of the need to "do" and to instead focus on the state of "being". By taking up space, surrendering into the mat, and maybe closing the eyes, the practitioner may feel truly rested and calm. Placing a cold lavender towel over the forehead is an added bonus! </pclass></p>
        </section>
    </article>
</main>
</body>
</html>