<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Sumits Yoga Instructors</title>
</head>

<body>
<div>
<h1>Melissa Zuegin</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Emily Montgomery</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Alex Burch</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Ben Rudin</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Carolyn Smith</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Ellie Hawkins</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Jessica Key</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Katy Black</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Kristen Meyer</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Lexi Mattheson</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Sheri Taylor</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Stacey Kruse</h1>
<!--<img src = > -->
<p>Bio</p>
</div>
<div>
<h1>Stacie Huey</h1>
<!--<img src = > -->
<p>Bio</p>
</div>




</body>
</html>